*
  // background: #333
.sprite 
    background-image: url(../img/spritesheet.png)
    background-repeat: no-repeat
    display: inline-block
    vertical-align: top
.sprite-icon-cart 
    width: 17px
    height: 18px
    background-position: -5px -5px
.sprite-insta-icon 
    width: 18px
    height: 18px
    background-position: -32px -5px
.sprite-vk-icon 
    width: 19px
    height: 12px
    background-position: -60px -5px

.cart-button
  background-image: linear-gradient(to bottom, #ffaaaa, #ffa6a6, #ffa2a2, #ff9e9e, #ff9a9a)
  padding: 14px 21px
  font-family: 'Open Sans', sans-serif;
  color: #fff
  font-size: 15px
  display: inline-block
  text-decoration: none
.hover-order, .hover-send
  padding: 14px 29px
  border: 1px solid #959595
  font-family: 'Open Sans', sans-serif;
  font-size: 21px
  color:#333
  transition: ease background-image
  display: inline-block
  text-decoration: none
.order-h-button
  background-image: linear-gradient(to bottom, #ffaaaa, #ffa6a6, #ffa2a2, #ff9e9e, #ff9a9a)
  display: inline-block
  text-decoration: none
  font-family: 'Open Sans', sans-serif;
  color: #fff
  font-size: 21px
  padding: 27px 38px
.vk-button, .insta-button
  display: inline-block
  text-decoration: none
  font-family: 'Open Sans', sans-serif;
  color: #ff7575
  font-size: 13px
  padding: 10px 13px
  border: 1px solid #ff7575
  border-radius: 5%
.read-button
  display: inline-block
  text-decoration: none
  font-family: 'Open Sans', sans-serif;
  color: #fff
  font-size: 15px
  border: 1px solid #fff
  padding: 13px 30px
.hover-order:hover 
  background-image: linear-gradient(to bottom, #ffaaaa, #ffa6a6, #ffa2a2, #ff9e9e, #ff9a9a)
  border: none
  color: #fff
.hover-send:hover
  background-image: linear-gradient(to bottom, #ffaaaa, #ffa6a6, #ffa2a2, #ff9e9e, #ff9a9a)
  border: none
  color: #fff
.order-h-button:hover
  background-image: linear-gradient(to top, #ff6767, #ff7474, #ff8180, #ff8d8d, #ff9999)