.footer
  &__top
    background-color: #f0f0f0
    padding: 40px 0px
    padding-bottom: 25px

  &__links-block
    display: flex
    flex-direction: column
    margin-right: 140px

    &_link
      color: #666666
      font-size: 13px
      margin-bottom: 15px

  &__bottom
    background-color: #ff7575
    padding: 10px 0

    &_contacts
      display: flex
      color: white

      a
        color: white

    &_copyright
      color: white

.flex-container
  display: flex

.justify-content
  display: flex
  justify-content: space-between
