.wrapper
  margin: 0 auto
  max-width: $content-width
  padding: 0 $gutter/2
[class*="column"]
  width: 100%
  padding: $gutter/2
.justify-content
  display: flex
.m-b
  @for $i from 1 through 6
    &-#{$i*$v-step}
      margin-bottom: 1px * $i*$v-step
.row
  display: flex
  flex-wrap: wrap
  