.t-center
  text-align: center
.header-contact
  font-size: 13px
  display: inline-block
  text-align: left
  &__mail
    a
      text-decoration: none
      color: #000
  &__phone
    padding-top: 25px
    a
      text-decoration: none
      i.fas.fa-phone
        transform: rotate(100deg)
        color: #000
      span.cod
        color: #ff9999
        font-size: 15px
        padding: 0 10px 0 15px
      span 
        font-size: 21px
        color: #000