.menu-card
  display: flex
  justify-content: space-between
  flex: 1 1 auto
  align-items: baseline
  flex-wrap: wrap
  align-items: center

  a 
    text-decoration: none

.card__title
  color: #333333
  font-size: bold
  align-items: center

.wrapper
  background: #fff
  opacity: 0.7
  
