%product-text
  color: #333333
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  font-size: 15px

.product
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 25px
  min-height: 100%

  &__link
    text-decoration: none
    flex: 1 1 auto
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 10px


  &__image
    padding: 10px
    margin-bottom: 10px
    height: 220px
    display: flex
    align-items: center

    img
      max-width: 100%
      object-fit: cover


  &__description
    @extend %product-text
    text-align: center
    margin-bottom: -20px
    padding: 0 20px

  &__price
    @extend %product-text
    font-weight: 600
    margin-top: auto
    line-height: 18px


  &__button
    margin-top: auto

  &__modificator
    position: absolute
    top: 0
    left: 0

    img
      width: 100%

.top-line-remove
  height: 1px
  margin-top: -51px
  background-color: white

.relative
  position: relative

.bottom-line
  border-bottom: 1px solid #f0f0f0

.m-b-50
  margin-bottom: 50px
