
.buttons
  a(href="#").cart-button
    .sprite-icon-cart.sprite
    |КОРЗИНА
  a(href="#").hover-order
    |ЗАКАЗАТЬ
  a(href="#").hover-send
    |ОТПРАВИТЬ
  a(href="#").order-h-button
    |ЗАКАЗАТЬ
  a(href="#").vk-button
    .sprite-vk-icon.sprite
    |Мы в контакте
  a(href="#").insta-button
    .sprite-insta-icon.sprite
    |Мы в Instagram
  a(href="#").read-button
    |ЧИТАТЬ...