.header
  .header__top
    .wrapper.justify-between
      div menu
      div search
  .header__mid
    .wrapper
      .row
        .column-laptop-1-4
          |logo
        .column-laptop-1-2
          |header-contacts
        .column-laptop-1-4
          |basket
  .header__bottom
    .wrapper
      .row
        each i '123456'
          .column-laptop-1-4
            |preferences
            

.page
  .wrapper
    .row
      .column-laptop-3-4
        .row
          each i '123456'
            .column-laptop-1-3
              |flowers pics here
      .column-laptop-1-4
        |filter
  .wrapper
    .row
      eah i '123'
        .column-laptop-1-3
          |news here


.footer
  .footer__top
    .wrapper
      .row
        each i '123'
          .column-laptop-1-4
            |footer links infos here
  .footer__bottom
    .wrapper.justify-between
      div copyrights
      div footer__contacts
