.header.m-b-50
  .header__top
    .wrapper
      .row.justify-between
        .column-laptop-3-4
          include top-nav
        .column-desktop-1-4
          include header-search
  .header__mid
    .wrapper
      .row
        .column-laptop-1-4
          include main-logo
        .column-phablet-1-1.column-tablet-1-1.column-laptop-1-2.t-center
          include header-contact
        .column-laptop-1-4
          |add to card
