.header-search
  form(action="#")
    input(type="search" name="header-search").header-search-input
    button(name="header-serach-button").header-search-button
      img(src="./img/search-button-temp.png" alt='temp-search')
    button(name="header-submit" type="submit").header-submit-button
      img(src="./img/search-button-temp.png" alt='temp-search')
