.wrapper
  .row
    .column-laptop-1-4
      |logo
    .column-phablet-1-1.column-tablet-1-1.column-laptop-1-2.t-center
      include header-contact
    .column-laptop-1-4
      |card
.wrapper
  .row
    .column-laptop-1-4
    each i in '123456'
      include menu-card