.wrapper
  .row
    .column-laptop-1-4
      include main-logo
    .column-phablet-1-1.column-tablet-1-1.column-laptop-1-2.t-center
      include header-contact
    .column-laptop-1-4
      |add to card