.slider.slider_four_in_line
  div
    img(src="img/klientSlider/1.png")
  div
    img(src="img/klientSlider/2.png")
  div
    img(src="img/klientSlider/3.png")
  div
    img(src="img/klientSlider/4.png")
  div
    img(src="img/klientSlider/5.png")
  div
    img(src="img/klientSlider/6.png")
  div
    img(src="img/klientSlider/1.png")
  div
    img(src="img/klientSlider/2.png")
  div
    img(src="img/klientSlider/3.png")
  div
    img(src="img/klientSlider/4.png")
  div
    img(src="img/klientSlider/5.png")
  div
    img(src="img/klientSlider/6.png")
  .next_button
    i(class="fas fa-chevron-right")
  .prev_button
    i(class="fas fa-chevron-left")