-
  var cards = [
    'Букуты',
    'Цветы',
    'Розы',
    'Композиции',
    'Подарки',
    'Свадебные букеты'
      ]
each item, index in cards
  -var num = index + 1
    +card({title: item, img: 'card'+num+'.png'})