.news-item
  .news-item__img
    img(src="img/news/1.png")
    .img-hover
      .img-hover__center
        a(href="#")
          span Читать... 
  .news-item__date
    span 01.01.16
  .news-item__text
    span С Новым годом 2016!
.news-item
  .news-item__img
    img(src="img/news/2.png")
    .img-hover
      .img-hover__center
        a(href="#")
          span Читать... 
  .news-item__date
    span 01.01.16
  .news-item__text
    span Как украсить дом к Новому году?
.news-item
  .news-item__img
    img(src="img/news/3.png")
    .img-hover
      .img-hover__center
        a(href="#")
          span Читать... 
  .news-item__date
    span 01.01.16
  .news-item__text
    span Розыгрыш новогоднего подарка
      