.order
  span Нежный букет из роз
  .order__description
    .prise
      |2 350 руб.
    .form(id='myform' method='POST' action='#')
      input(type='button' value='-' class='qtyminus' field='quantity')
      input(type='text' name='quantity' value='0' class='qty')
      input(type='button' value='+' class='qtyplus' field='quantity')
