.page
  .wrapper
    .row
      .column-laptop-3-4
        .row
          each i '123456'
            .column-laptop-1-3
              |flowers pics here
      .column-laptop-1-4
        |filter
  .wrapper
    .row
      eah i '123'
        .column-laptop-1-3
          |news here