-
  var paymentMethod = [
    {
      title: 'При получении',
      id: 'uponReceipt'
    },
    {
      title: 'Онлайн',
      id: 'online',
      status: 'checked'
    }
  ]
-;
-
  var paymentMethodsImages = [
    {
      url: '../img/payment-method/wm.png'
    },
    {
      url: '../img/payment-method/yandexm.png'
    },
    {
      url: '../img/payment-method/qiwi.png'
    },
    {
      url: '../img/payment-method/visa.png'
    }
  ]
-;

section.column
  .title.title_3.m-b-20 Оплата
  form.radio-btns.m-b-40(action="get")
    each item in paymentMethod
      +radio(item) 
    -;
  .payment-methods.m-b-90
    each item in paymentMethodsImages
      a.payment-method(href="#")
        img(src=item.url, alt="paymentMethodsImage")
      -;