.row
  +product("product-1.png", "description", "1000 usd")
  +product("product-1.png", "description description description description description description", "1000 usd", "hit")
  +product("product-1.png", "description", "200 usd", "action")
  +product("product-1.png", "description", "200 usd", "new")
