.range-slider
  .range-slider__title.title Стоимость 
  input.range-slider__input.js-range-slider(type='text' name='my_range' value='')
  .range-slider__prices
    spna.price-from 1000 руб.
    spna.price-to 10000 руб.