.wrapper
  .row
    .column-laptop-1-2
      .response
        .info
          .response__title
            span Написать отзыв:
          .response__star
            .stars
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
        .response__form
          form(action="/action_page.php")
            textarea(id="subject" name="subject")
            input(class="hidden-rate" type="hidden" name="rate" value="0")
            input(class="button-send" type="submit" value="Отправить")
    .column-laptop-1-2
