.wrapper
  .row
    .column-laptop-1-2
      .product-img
        img(class="xzoom" src="img/product-card/preview/1.png" xoriginal="img/product-card/original/1.png")
        .xzoom-thumbs
          a(href="img/product-card/original/1.png")
            img(class="xzoom-gallery" src="img/product-card/thumbs/1.png" xpreview="img/product-card/preview/1.png")
          a(href="img/product-card/original/2.png")
            img(class="xzoom-gallery" src="img/product-card/thumbs/2.png" xpreview="img/product-card/preview/2.png")
          a(href="img/product-card/original/3.png")
            img(class="xzoom-gallery" src="img/product-card/thumbs/3.png" xpreview="img/product-card/preview/3.png")
          a(href="img/product-card/original/4.png")
            img(class="xzoom-gallery" src="img/product-card/thumbs/4.png" xpreview="img/product-card/preview/4.png")
      .comments-block
        .comments-block__text
          span Отзывы покупателей
          p 2 отзыва
        input(type="checkbox" class="read-more-state" id="post-1")
        ul.read-more-wrap
          li
            .comment
              .comment__info
                .comment__info-text
                  span 01.01.16 
                  p Михаил Святославович
                .comment__info-star
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="far fa-star")
              .comment__text
                span Канна. Название интересное, цветок тропический. В диком виде в Канна. Название интересное, цветок тропический. В диком виде в Канна. Название интересное, цветок тропический. В диком виде в 
          li
            .comment
              .comment__info
                .comment__info-text
                  span 01.01.16 
                  p Светлана Алексеева
                .comment__info-star
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="far fa-star")
              .comment__text
                span Быстрая доставка. Сервис на уровне. Спасибо большое!!!
          li
            .comment
              .comment__info.read-more-target 
                .comment__info-text
                  span 01.01.16 
                  p Светлана Алексеева
                .comment__info-star
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="far fa-star")
              .comment__text.read-more-target 
                span Быстрая доставка. Сервис на уровне. Спасибо большое!!!
        label(for="post-1" class="read-more-trigger") 
      .response
        .info
          .response__title
            span Написать отзыв:
          .response__star
            .stars
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
              span 
                .star
                  |&nbsp;
        .response__form
          form(action="/action_page.php")
            textarea(id="subject" name="subject")
            input(class="hidden-rate" type="hidden" name="rate" value="0")
            input(class="button-send" type="submit" value="Отправить")
    .column-laptop-1-2
