-
  var makiWith = [
    {
      title: 'Роза',
      id: 'rose',
      status: 'checked'
    },
    {
      title: 'Орхидея',
      id: 'orch'
    },
    {
      title: 'Лилия',
      id: 'Lily'
    },
    {
      title: 'Гербер',
      id: 'gerber',
      status: 'checked'
    }
  ]
-;
-
  var makiWho = [
    {
      title: 'Мужчина',
      id: 'man',
      status: 'checked'
    },
    {
      title: 'Ребенок',
      id: 'child',
      status: 'checked'
    },
    {
      title: 'Женщина',
      id: 'woman'
    },
    {
      title: 'Семья',
      id: 'family'
    }
  ]
  // ----------------------------------------------------------------------
-;


.sidebar
  .filter__button.m-b-30
  .filter
    .row
      section.column-phablet-1.column-laptop-1.m-b-40
        .title.title_2 Стоимость
        include rangeSlider      
      section.column-phablet-1-2.column-laptop-1.m-b-40
        .title.title_2.m-b-20 Букети с
        .row
          each item in makiWith
            -;
            .column-1-2.m-b-10
              +checkbox(item)
        
      section.column-phablet-1-2.column-laptop-1.m-b-40
        .title.title_2.m-b-20 Кому
        .row
          each item in makiWho
            -;
            .column-1-2.m-b-10
              +checkbox(item) 
  .row
    section.column-phablet-1-2.column-laptop-1
      
      .title.title_2.m-b-20 Поиск
      +addSearch('is-active')
      .m-b-40

