.slider
  .main-carousel
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
    .carousel-cell
      +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
    .carousel-cell
      +product("product-1.png", "description", "price")
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")

