.slider
  .main-carousel
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
    .carousel-cell
      +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
    .carousel-cell
      +product("product-1.png", "description", "price")
    .carousel-cell
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
<<<<<<< HEAD
    div
      +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
    div
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
    div
      +product("product-1.png", "description", "price")




<div class="main-carousel">
  <div class="carousel-cell">
    +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
  </div>
  <div class="carousel-cell">
    +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
  </div>
  <div class="carousel-cell">
    +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
  </div>
</div>      



=======
>>>>>>> 4ecf5b1f1178d795cbf67c49bcb21d569911e18b
