.slider
  .slider-container
    div
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
    div
      +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
    div
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
    div
      +product("product-1.png", "description", "price")
    div
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
    div
      +product("product-2.png", "Букет из красных роз, 1000 шт.", "price", "new")
    div
      +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello")
    div
      +product("product-1.png", "description", "price")
