.wrapper
  .slider
    .main-carousel
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
      .carousel-cell
        .product-container
          +product("product-1.png", "Новогодний подарок", "price", "hit")
    
    
