.slider.m-b-50
  .main-carousel
    .carousel-cell
      .slider__item
        |Wow
    .carousel-cell
      .slider__item
        |Pol
    .carousel-cell
      .slider__item
        |Drift
    .carousel-cell
      .slider__item
        |Go
    .carousel-cell
      .slider__item
        |No
    .carousel-cell
      .slider__item
        |Big
    .carousel-cell
      .slider__item
        |Small
    .carousel-cell
      .slider__item
        |Blick


.slider
  .main-carousel
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    .carousel-cell
      .product-container
        +product("product-1.png", "Новогодний подарок", "price", "hit")
    
    
