doctype html
html(lang="uk")
  include partials/head
  body
    include partials/mixin
    include partials/header

    include partials/buttons


    include partials/pagination

    include partials/search
    include partials/checkbox

    include partials/rangeSlider


    include partials/footer