doctype html
html(lang="uk")
  include partials/head
  body
    include partials/header
    include partials/main-logo
    include partials/search
    include partials/checkbox
    include partials/rangeSlider

    include partials/footer