doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/header
    include partials/menu-opener
    .page
      .wrapper
        .row
          .column-laptop-3-4.column-page
            .row
              .column-laptop-1-3
                +product("product-1.png", "description", "price", "hit")
              .column-laptop-1-3
                +product("product-1.png", "description", "price", "new")
              .column-laptop-1-3
                +product("product-1.png", "description", "price", "action")
              each i in '123'
                .column-laptop-1-3
                  +product("product-1.png", "description", "price")
              -;
              .column-pagination
                include partials/pagination
          .column-laptop-1-4.column-sidebar
            include partials/sidebar

      .wrapper
        .row
          each i in '123'
            .column-phablet-1-2.column-laptop-1-3.m-b-30
              include partials/article-news
    include partials/footer
