doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/header
    include partials/menu-opener
    .page
      .wrapper
        include partials/delivery
        
    include partials/footer
