doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/header
    .page
      .wrapper
        .delivery-form
          +order-decorator(2)
          .delivery-form__content.to-decorate
            .delivery-form__title Доставка
            include partials/delivery

        +product("product-3.png", "Букет из альстромерий и коробка конфет Rafaello", "price", "action")
    include partials/footer
