doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/header
    .page
      .wrapper
        .delivery-form
          +order-decorator(2)
          .delivery-form__content.to-decorate
            .delivery-form__title Доставка
            include partials/delivery
            
    include partials/footer
