doctype html
html(lang="uk")
  include partials/head
  include partials/mixin
  body
    include partials/header
    .page
      .wrapper
        .row
          include partials/payment-methods
    include partials/footer